:root {
  --clr-panel-text: #d6d6d6;
}

/* RESET */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
}

/* BASE STYLES */
p {
  line-height: 1.6rem;
  font-weight: 300;
}

a {
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Manrope", sans-serif;
}

.fullscreen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.heading {
  font-weight: 500;
  z-index: 10;
  font-size: 5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  padding: 1rem;
  max-width: 80%;
  transform: translate(0%, -100%);
}

.secondary-heading {
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  font-size: 5rem;
}

.jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
}

/* Panels */

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--clr-panel-text);
  text-align: left;
}
#panels #panels-container .panel img {
  /* max-width: 100%; */
  /* height: auto; */
  display: block;
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}

/* PANEL SPECIFICS */

/* PANEL 1 */

.panel-one-heading {
  position: absolute;
  top: 47%;
  left: 12%;
  font-size: 9rem;
  font-weight: 100;
  overflow-x: hidden;
  word-break: keep-all;
}

.panel-one-img {
  position: absolute;
  left: -50%;
  top: 0;
  height: 100vh;
  object-fit: cover;
  width: 100%;
}
.panel-one-desc {
  max-width: 20rem;
  position: absolute;
  right: 14%;
  top: 10%;
}

.panel-one-desc-after {
  width: 100%;
  height: 0px;
  background-color: #be0026;
  position: absolute;
  top: 103%;
  left: 0;
}

/* PANEL 2 */
#panel-2 {
  background-color: white;
}

.panel-two-heading {
  position: absolute;
  top: 7%;
  right: 16%;
  font-size: 10rem;
  letter-spacing: 0.75rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 100;

  text-align: start;
}

.panel-two-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  object-fit: cover;
  width: 50%;
}

.panel-two-desc {
  max-width: 30%;
  padding: 2rem;
  padding-top: 2rem;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: rgb(46, 46, 46);
}

.sketch-container {
  margin-top: 3rem;
  position: relative;
}

.sketch {
  width: 100%;
}

.sketch-note-outer {
  position: absolute;
  bottom: 37%;
  right: -17%;
}

.sketch-note {
  font-size: 0.8rem;
  background-color: white;
  margin: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.21);
  padding: 1.5rem;
  max-width: 9rem;
  line-height: 1.25rem;
  z-index: 1000;
}

.line {
  width: 120px;
  background-color: black;
  height: 1px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 113px;
  left: -87px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #b72c48;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  bottom: 37px;
  left: -104px;
  z-index: 100;
}

/* PANEL 3 */
.panel-three-img {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.panel-three-heading {
  position: absolute;
  bottom: 0;
  left: 10%;
  color: red;
  font-size: 10rem;
  letter-spacing: 0.75rem;
  font-weight: 600;
  text-align: start;
  z-index: 100;
}

.panel-three-heading-en {
  font-size: 8rem;
  font-weight: 300;
  color: #ffffff;
  right: 0%;
  z-index: 50;
}

.panel-three-desc {
  position: absolute;
  top: 5%;
  right: 5%;
  max-width: 26%;
  padding: 2rem;
  padding-top: 1rem;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: rgb(223, 223, 223);
  z-index: 100;
}

/* PANEL 4 */

.p4-circle {
  width: 6vw;
  border-radius: 50%;
  height: 6vw;
  background-color: #be0026;
}

.p4-rect {
  position: absolute;
  top:50%;
  left:50%;
  display: grid;
  place-content: center;
  width: 16vw;
  height: 8vw;
  background-color: #ffffff;
  transform: translate(-50%, -100%);
}

.panel-four-heading {
  position: absolute;
  top: 0;
  left: 25%;
  color:#224634;
  font-size: 10rem;
  letter-spacing: 0.75rem;
  font-weight: 600;
  text-align: start;
  z-index: 100;
}

.panel-four-img-right {
  object-fit: cover;
  width: 50%;
  height: 100vh;
}

.panel-four-img-left {
  object-fit: cover;
  width: 50%;
  height: 100vh;
}

/* end panels */

/* HEADER */
.content {
  display: flex;
  height: 100%;
  align-items: center;
}

.container-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
}
.container-left {
  background-color: rgb(39, 130, 227);
  width: 50%;
}

.container-right {
  width: 50%;
  height: 100vh;
  background-color: rgb(39, 130, 227);
  overflow: hidden;
  position: relative;
}

.words {
  overflow: hidden;
}

.animate-text,
.p3-animated-text {
  display: inline-block;
}

.coverImg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  width: 100%;
  height: 100%;
}

.img2 {
  opacity: 0;
}

/* UTILITIES */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-4 {
  gap: 1rem;
}

.gap {
  gap: 1.6rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}
